.center-item {
    display: 'flex';
    justifyContent: 'center';
    alignItems: 'center';
    height: '100vh'
}


.set-bg-image {
    background-image: url('./images/gaming_background.png');
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
}

.profile-image { 
    border-radius: 50%;
    opacity: 0.8;
}