.set-bg-image {
    background-image: url('./images/gaming_background.png');
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
}

.profile-image { 
    border-radius: 50%;
    border: 4px solid #000;
}

.home-page {
    background-image: url("./images/pixel_art_home_background.png"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.about-page {
    background-image: url("./images/pixel_art_about_background.png"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.projects-page {
    background-image: url("./images/pixel_art_projects_background.png"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.blog-page {
    background-image: url("./images/blog_background.png"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.error-page {
    background-image: url("./images/error_page.png"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

